{% extends 'shop/basic.html' %}

{% block css %}

{% endblock %}



{% block body %}
{% load static %}

<div class="container" id="one">

	<!-- Slideshow start here -->
	{% for product, range, nSlides in allProducts %}
	<h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended</h5>
	<div class="row">
		<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

				{% for i in range %}
				<li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
				{% endfor %}
			</ul>



			<div class="container carousel-inner no-padding">

				<div class="carousel-item active">

					{% for i in product %}
					<div class="col-xs-3 col-sm-3 col-md-3">
						<div class="card align-items-center" style="width: 18rem;">
							<img src="/media/{{i.image}}" class="card-img-top" alt="...">
							<div class="card-body">
								<h6 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h6>
								<p class="card-text">{{i.description|slice:'0:53'}}...</p>
								<p class="card-text"><b>Rs.</b> <span id="pricepr{{i.product_id}}">{{i.price}}</span></p>
								<span id="divpr{{i.product_id}}" class="divpr">
									<button id="pr{{i.product_id}}" class="btn btn-primary cart">Add to Cart</button>
								</span>
								<a href="/shop/products/{{i.product_id}}">
									<button id="qv{{i.product_id}}" class="btn btn-primary">Quick View</button>
								</a>
							</div>
						</div>
					</div>

					{% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
				</div>
				<div class="carousel-item">
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- left and write controls for the slide -->
		<a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}


<!-- That is used forloop in jinja templating -->

<!-- {% if    'numbers'|length > 0  %}
            {% for i in numbers %}
                 {% if i > 20 %}
                     {{i}}
                {% endif %}
            {% endfor %}
             
 {% else %}
    Empty
 {% endif %} -->